#divTelaConfig{
    margin-top: 10%;
    margin-left: 30%;
    
}
input{
    width: 15%;

}
#inputNum1{
    margin-left: 1%;
}
label{
    font-size: 140%;
}
.btnClass{
    font-size: 100%;
    margin-left: 19%;
    cursor: pointer;
    
}
#check{
    margin-left: 10.5%;
    width: 3%;
}
#divTelaSorteio{
    margin-top: 5%;
    text-align: center;
}
#btnVoltar{
   
    font-size: 120%;
    
    cursor: pointer;
    
}
#labelVoltar{
    margin-left: 10%;
   
}
#btnGerar{
    font-size: 150%;
    cursor: pointer;
    margin-left: 40%;
}
hr{
    width: 50%;
    margin-right: 50%;
}